.ly-FullHeight {
  &, body {
    height: 100%;
    margin: 0;
  }
}
.wg-BodyDark {
  height: 100%;
  background: #2f2f2f;
  color: #fafafa;
}

.ly-Centered {
  margin: auto;
}

.ly-TwoColsMain {
  .sidebar {
    width: 400px;
    max-width: 100%;
  } 
}